a {
  color: white;
  text-decoration: none;
  border-bottom: 1px white dotted;
}

a:hover {
  border-bottom: 1px white solid;
}

a:active {
  color: deepskyblue;
  border-bottom: 1px deepskyblue solid;
}

body {
  background: #222;
}
