---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import SideContainer from "../components/SideContainer.astro";

const socialsAndContact = [{
  reference: "https://github.com/kvdpxne",
  name: "GitHub",
  icon: "social_github",
  value: "kvdpxne"
}, {
  name: "Discord",
  icon: "contact_discord",
  value: "kvdpxne"
}];
---

<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
  <BaseHead/>
</head>
<body>
<main>
  <section>
    <SideContainer title="Skills" items={socialsAndContact}/>
  </section>
</main>
<Footer/>
</body>
</html>
