---
import Layout from "../layouts/Layout.astro";
import Container from "../components/ContainerNamed.astro";
import Repository from "../components/Repository.astro";
import Hero from "../components/Hero.astro";

import Grid from "../components/Grid.astro";

import contacts from "../data/contacts.json";
import specializations from "../data/specializations.json";
import Title from "../components/Title.astro";
---

<Layout>
	<div class="flex justify-center">
		<div class="container space-y-5">

			<!-- Header -->
			<div class="flex items-center pt-16 pb-32">
				<Hero/>
			</div>

			<Title>
				A few information
			</Title>

			<Grid>
				<div class="order-last lg:order-first">
					<Container title="Specializations" items={specializations}/>
				</div>
				<div class="space-y-3.5">
					<Container title="Socials & Contact" items={contacts}/>
					<div class="ps-2 pe-2">
						<p class="font-bold">
							Please avoid using these contact options for technical support.
						</p>
						<p>
							The appropriate issue tracker for the software you need help
							with is best suited for it. Thank you in advance!
						</p>
					</div>
				</div>
			</Grid>

			<Title id="projects">
				A few projects
			</Title>

			<Grid>
				<div class="order-first lg:order-last">
					<Repository name="kvdpxne/akvato"
											languages={[{name: "Astro", color: "#ff5a03"}]}>
						Repozytorium zawiera open-source kod strony portfolio, na której
						obecnie jesteś z informacjami o autorze. Pełne środowisko do
						prezentacji umiejętności, projektów i kontaktu.
					</Repository>
				</div>
				<div class="space-y-4">
					<Repository name="kvdpxne/covilo"
											languages={[
												{name: "Java", color: "#b07219"},
												{name: "TypeScript", color: "#3178c6"}]}>
						Repozytorium to open-source kod aplikacji internetowej do
						zgłaszania przestępstw. Zapewnia bezpieczne środowisko dla
						użytkowników do raportowania incydentów oraz wspiera współpracę
						z organami ścigania.
					</Repository>
					<Repository name="kvdpxne/destroy-the-monument"
											languages={[{name: "Kotlin", color: "#a97bff"}]}>
						Repozytorium pluginu mini-gry do Minecrafta. Rywalizacja dwóch
						drużyn, celem zniszczenie monumentu przeciwnika. Otwarty kod
						źródłowy dla dynamicznych rozgrywek w świecie Minecraft.
					</Repository>
				</div>
			</Grid>

		</div>
	</div>
</Layout>
