---
const {name, isActive = false} = Astro.props;
---

<style>
  .tab {
    @apply p-3;

    @apply border-b;
    @apply border-r;
    @apply border-neutral-300;

    @apply dark:bg-neutral-800;
    @apply dark:border-neutral-700;
  }

  .tab-active {
    @apply text-blue-700;
    @apply dark:text-red-600;
  }
</style>

<div class={isActive ? "tab tab-active" : "tab"}>
  {name}
</div>
