<footer class="flex flex-col justify-center">
  <div class="text-center dark:text-slate-200">
    <p>
      Built with <span class="text-red-600">❤</span>
      using <a href="https://astro.build/" target="_blank">{Astro.generator}</a>
      by kvdpxne.
    </p>
    <p>
      Icons by <a href="https://icons8.com" target="_blank">Icons8</a>.
    </p>
  </div>
</footer>