---
import Link from "./Link.astro";
---

<footer class="flex justify-center">
	<div class="text-center">
		<p>
			Built with
			<span class="text-red-600">
        ❤
      </span>
			using
			<Link href="https://astro.build/">
				{Astro.generator}
			</Link>
			by kvdpxne.
		</p>
		<p>
			Icons by
			<Link href="https://icons8.com">
				Icons8
			</Link>
			&
			<Link href="https://seeklogo.com/">
				Seeklogo
			</Link>
			.
		</p>
	</div>
</footer>