---
import Link from "./Link.astro";
---

<p class="text-xl md:text-2xl text-blue-700 dark:text-red-600 font-semibold">
	Cześć, jestem kvdpxne
</p>
<h1 class="text-4xl md:text-6xl font-black">
	Fullstack developer from Poland
</h1>
<p class="text-lg font-medium pt-4">
	Nazywam się Łukasz Pietrzak, jestem pasjonatem programowania
	specjalizującym się w tworzeniu serwisów internetowych. W wolnym czasie
	lubię także tworzyć oprogramowanie open-source o różnym przeznaczeniu,
	które możesz znaleźć w zakładce
	<Link href="https://github.com/kvdpxne?tab=repositories">
		repozytoria
	</Link>
	na moim profilu
	<Link href="https://github.com/kvdpxne">
		Github
	</Link>
	.
</p>