---
import Link from "./Link.astro";
import {Trans} from "astro-i18next/components";
import {t} from "i18next";
---

<p class="text-xl md:text-2xl text-blue-700 dark:text-red-600 font-semibold">
  {t("home.hero.welcome")}
</p>
<h1 class="text-4xl md:text-6xl font-black">
  {t("home.hero.who")}
</h1>
<p class="text-lg font-medium pt-4">
  <Trans i18nKey="home.hero.description">
    My name is Łukasz Pietrzak, I am a programming enthusiast specializing in
    creating web services. In my free time, I also like to create open-source
    software for various purposes, which you can find in the
    <Link href="https://github.com/kvdpxne?tab=repositories">
      repositories
    </Link>
    tab on my
    <Link href="https://github.com/kvdpxne">
      GitHub
    </Link>
    profile.
  </Trans>
</p>