---
const {href} = Astro.props;
---

<a class="border-b
          border-dashed hover:border-solid
          border-neutral-700 dark:border-neutral-200
          active:border-blue-700 dark:active:border-red-600
          active:text-blue-700 dark:active:text-red-600"
   href={href}
   target="_blank">
  <slot/>
</a>