---
const {href, target = "_blank"} = Astro.props;
---

<a class="hover:border-b-white dark:hover:border-b-neutral-800"
   href={href}
   target={target}>
  <slot/>
</a>

<style>
  a {
    text-decoration: none;
    border-bottom: 1px dashed;
  }

  a:hover {
    border-bottom: 1px solid;
  }

  a:active {
    color: deepskyblue;
    border-bottom: 1px deepskyblue solid;
  }
</style>