---
import Container from "./Container.astro";
const {name, languages} = Astro.props;
---

<Container>
	<a class="flex hover:bg-neutral-200 hover:dark:bg-neutral-700 rounded-2xl"
		 href={`https://github.com/${name}`}
		 target="_blank">
		<div class="flex flex-col p-5">
			<h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100">
				{name}
			</h2>
			<div class="flex text-gray-500 dark:text-gray-400 mt-1">
				{languages.map(it =>
					<div class="pe-2">
						<div class="inline-block rounded-full w-3 h-3"
								 style={`background-color: ${it.color};`}/>
						{it.name}
					</div>
				)}
			</div>
			<p class="text-gray-700 dark:text-gray-300 mt-2">
				<slot/>
			</p>
		</div>
	</a>
</Container>