---
import SideContainerItem from "./SideContainerItem.astro";
const {
  title,
  items
} = Astro.props;
---

<div class="border border-neutral-100 dark:border-neutral-700/40 rounded-2x1">
  <div class="p-5">
    <h2 class="">
      {title}
    </h2>
    <div class="mt-6 space-y-2">
      {items.map(it => <SideContainerItem content={it}/>)}
    </div>
  </div>
</div>